@model BookLibrary.Models.Domain.Book

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Book</h2>

<hr />

<div class="row">
        <form asp-action="Edit" asp-controller="Book" class="row">
        <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <input type="hidden" asp-for="Id" />
        <div class="input-field col s6">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="red-text"></span>
            </div>
        <div class="input-field col s6">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="red-text"></span>
            </div>
        <div class="input-field col s12">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
            <span asp-validation-for="ISBN" class="red-text"></span>
             </div>
        <div class="input-field col s12">
            <label>
                <input type="checkbox" class="" asp-for="IsBorrowed" />
                <span>@Html.DisplayNameFor(model => model.IsBorrowed)</span>
            </label>
        </div>
        
        <div class="row right-align">
            <a asp-action="Index" class="blue-text btn-flat">Back to List</a>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        </form>
</div>

