@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Biblioteca Virtual</h2>
    <p>Bienvenido a la aventura de la lectura. Bienvenido a nuestra Biblioteca Virtual.</p>
</div>
