<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookLibrary</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookLibrary.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo grey-text text-lighten-4">dev.lib</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a asp-controller="Home" asp-action="Index" class="grey-text text-lighten-4">Home</a></li>
                    <li><a asp-controller="Book" asp-action="Index" class="grey-text text-lighten-4">Books</a></li>
                    <li><a asp-controller="Customer" asp-action="Index" class="grey-text text-lighten-4">Customers</a></li>
                </ul>
            </div>
        </nav>
    </header>
@*    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@

    <main class="container">
        @RenderBody()
    </main>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container grey-text text-lighten-4 right">
                © 2023 German Sosa Goy, Lucas Daniel Iriarte<br />Back-end. UNSTA
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });        
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
